/* Write your CSS here! */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/ptsans-400.woff2") format("woff2"),
    url("./fonts/PTSans-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/ptsans-700.woff2") format("woff2"),
    url("./fonts/PTSans-Bold.woff") format("woff");
  font-display: swap;
}

body {
  font-family: "PT Sans","Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #222222;
  background-color: #ffffff;
  margin: 8px;
  min-height: 100%;
  min-width: 1200px;
  display: block;
}

body.light-mode {
  background-color: #fff;
  color: #000;
}
  
/* Dark mode */
body.dark-mode {
  background-color: #333333;
  color: #fff;
}

.dark-mode .intro,
.dark-mode .blog {
  background-color: #383385;
  color: #fafbfd;
}

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} */


button {
  text-decoration: none;
  cursor: pointer;
}
  
img {
  max-width: 100%;
  display: block;
  overflow: hidden;
}

/*Navigation*/
.navigation-list,
.user-navigation-list {
  list-style: none;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  width: 1024px;
  margin: 20px auto 40px;
  align-items: center;
  background-color:  #8da2ed;
  border-radius: 50rem 2rem;
}
  
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 450px;
  min-height: 70px;
  align-items: center;
  margin: 0 30px;
  padding: 0;
}
  
.navigation-item {
  margin-right: 34px;
}
  
.navigation-item:last-child {
  margin-right: 0;
}
  
.navigation-user {
  display: flex;
  max-width: 320px;
  width: auto;
  margin-left: auto;
  min-height: 70px;
}
  
.navigation-user li:first-child {
  margin-right: 24px;
}

.navigation-link {
  position: relative;
  display: block;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
}
  
.navigation-link:hover {
  color: #4f23d4;
  cursor: pointer;
  /* border-radius: 50rem 2rem; */
}
  
.navigation-link:focus {
  color: rgba(117, 98, 87, 0.3);
  outline: none;
}
  
.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}
  
.navigation-link.active::before {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 43px;
  left: 0;
  background: #383385;
  content: "";
}
  
.navigation-link-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #a39aaf5d;;
  border-radius: 4px;
  padding: 9px 34px;
  max-width: 160px;
  display: block;
  margin-right: 34px;
}
  
.navigation-link-button:hover {
  color: #4f23d4;
  cursor: pointer;
  /* border-radius: 50rem 2rem; */
}
  
.navigation-link-button:focus {
  background-color: #4f23d4;
  outline: 1px solid #443f88;
}
  
.navigation-link-button:active {
  color: rgb(102, 57, 158, 0.52);
}
  
  
.wrapper {
  max-width: 1408px;
  margin: 0 auto;
  padding: 0 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}
  
.page-header a {
  padding-bottom: 10px;
  padding-top: 10px;
  color: #ffffff;
  text-decoration: none;
  background-color:  #8da2ed;
}
  
.page-header a:focus,
.page-header a:hover {
  border-bottom: 1px solid #8da2ed;
  filter: hue-rotate(50deg);
}
  
.page-header a:active {
  filter: hue-rotate(0);
  opacity: 0.6;
}

.hero-image {
  position: relative;
  height: 564px;
  background-image: url(./img/laptop-bg.jpg);
  background-repeat: no-repeat;
  background-position-y: top ;
  background-position-x: calc(50vw + 16px);
  background-size: contain;
    
}

.hero-image .container {
  padding-left: 0;
  padding-right: 0;
  background-image: url("./img/dotted-border-v.svg");
  background-repeat: repeat-y;
  background-position: top left;
}
  
.heading {
  margin: 0;
  padding-left: 116px;
  width: 928px;
  font-size: 104px;
  line-height: 120px;
  letter-spacing: -2px;
  font-weight: 400;
  color: red;
}
  
.hero-image p {
  font-family: "PT Sans","Arial", sans-serif;
  margin: 0;
  padding-left: 128px;
  color: #607bd6;
  padding-bottom: 16px;
  font-size: 32px;
  line-height: 48px;
}
  
.intro {
  margin: 0 0 60px;
  padding-top: 100px;
  padding-bottom: 80px;
  background-color: #fafbfd;
}
  
.subheading {
  margin: 0 0 56px;
  font-size: 72px;
  line-height: 104px;
  font-weight: 400;
  color: #8da2ed;
}
  
.intro .container {
  position: relative;
}
  
.intro .subheading {
  position: absolute;
  top: -175px;
  left: 48px;
  font-size: 16px;
  line-height: 32px;
  color: #222222;
}
  
.intro .subheading::before {
  position: absolute;
  content: "";
  top: 4px;
  left: -32px;
  width: 16px;
  height: 28px;
  background-image: url("./img/icon-scroll.svg");
  background-repeat: no-repeat;
}
  
.user-image {
  margin: 0 0 32px;
  position: absolute;
  top: 0;
  left: 0;
}
  
.user-image img {
  width: 688px;
  height: 400px;
  margin-left: 16px;
  object-fit: cover;
}
  
.intro .container div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 60px 120px;
  min-height: 400px;
}
  
.intro .user-image + div {
  margin-left: 600px;
}
  
.intro .container > div::before,
.intro .container > div::after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
}
  
.intro .container div:nth-of-type(1)::before {
  top: 0;
  right: -120px;
  width: 144px;
  height: 64px;
  background-image: url("./img/decor-dots1.svg");
}
  
.intro .container div:nth-of-type(2)::before {
  top: 0;
  left: -120px;
  width: 144px;
  height: 64px;
  background-image: url("./img/decor-dots2.svg");
}
  
.intro h3 {
  margin: 0 40px 16px;
  width: 688px;
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
  
.intro p {
  margin: 0;
  width: 100%;
  margin-left: 45px;
}

#testP {
  color: green;
}

.intro .skills {
  width: 50%;
}

.intro div:nth-of-type(2) p {
  width: 50%;
}
  
.intro .container div:nth-of-type(2) {
  margin-right: 0;
  background-image: url("./img/abilities.jpg");
  background-position: right;
  background-repeat: no-repeat;
}

/* .education {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 60px 120px;
  min-height: 400px;
} */

.education h2,
.blog h2 {
  margin: 0 40px 16px;
  width: 688px;
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.education .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center
}

.education .text {
  flex-basis: 50%;
  padding-right: 20px;
}

.education .image {
  flex-basis: 50%;
  padding-left: 20px;
}

.portfolio-section {
  background-color: #f9f9f9;
  padding: 60px 0;
}

.section-heading {
  text-align: center;
  font-size: 36px;
  margin-bottom: 60px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-item {
  width: 300px;
  margin: 30px;
  text-align: center;
}

.portfolio-item img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.portfolio-item h3 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 0;
}


.blog {
  background-color: #fafbfd;
}

.blog .container article {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 60px 120px;
  min-height: 400px;
}

.blog p {
  margin: 20px 40px 20px;
  padding-bottom: 16px;
  text-align: inherit;
}
  
.page-footer {
  padding: 40px 0;
  background-color: #8da2ed;
}
  
.page-footer a {
  margin-right: 56px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #ffffff;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
  opacity: 0.8;
}
  
.page-footer a:focus,
.page-footer a:hover {
  opacity: 1;
  border-bottom: 1px solid #ffffff;
}
  
.page-footer a:active {
  opacity: 0.6;
}
  
.footer-email {
  padding-left: 30px;
  background-image: url("./img/icon-email-footer.svg");
}
  
.footer-phone {
  padding-left: 25px;
  background-image: url("./img/icon-phone-footer.svg");
}
  
  